<div id="profile">
	<div ng-if="auth.isAuthenticated()">
		<div ng-if="isMe">
			<div>
				<h3>Your account</h3>
				<button class="btn" style="margin-top: 10px;" ng-click="startUpdate()" ng-show="!isUpdating">Modify</button>
				<button class="btn" style="margin-top: 10px;" ng-click="saveUpdate()" ng-show="isUpdating">Save</button>
				<button class="btn" style="margin-top: 10px;" ng-click="deleteAccount()" ng-show="isUpdating">Delete your account</button>
				<p ng-show="!isUpdating">Name : {{user.firstname}} {{user.lastname}}</p>
				<p ng-show="isUpdating">Firstname : <input type="text" ng-model="newUser.firstname"/> Lastname : <input type="text" ng-model="newUser.lastname"/></p>
				<p ng-show="!isUpdating">Email : {{user.email}}</p>
				<p ng-show="isUpdating">Email : <input type="email" ng-model="newUser.email"/></p>
				<p ng-if="user.biography" ng-show="!isUpdating">Biography : {{ user.biography }}</p>
				<p ng-if="!user.biography" ng-show="!isUpdating">Biography : <i style="opacity: 0.5;">Add your biography</i></p>
				<p ng-show="isUpdating">Biography : <textarea type="text" ng-model="newUser.biography"></textarea></p>
				<p>You're a member from {{showDate(user.registrationDate, 12)}}</p>
			</div>
			<div>
				<h3>Group you joined</h3>
				<div ng-repeat="group in groups">
					<p style="cursor: pointer;"><b><a ng-href="/community/{{group._id}}">{{group.name}}</a></b></p>
					<p>{{group.description}}</p>
					<p>There are {{group.members.length}} members</p>
					<p ng-if="group.admin === user._id">You're the admin</p>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="!isMe">
		<div>
			<h3>{{otherUser.firstname}} {{otherUser.lastname}}</h3>
			<p>His email : {{otherUser.email}}</p>
			<p ng-if="otherUser.biography">His biography : {{ otherUser.biography }}</p>
			<p>{{otherUser.firstname}} {{otherUser.lastname}} is a member from {{showDate(otherUser.registrationDate, 12)}}</p>
		</div>
		<div>
			<h3>Group joined by {{otherUser.firstname}}</h3>
			<div ng-repeat="group in otherUserGroups">
				<p><b>{{group.name}}</b></p>
				<p>{{group.description}}</p>
				<p>There are {{group.members.length}} members</p>
			</div>
		</div>
	</div>

	<div id="profileNC" ng-if="!auth.isAuthenticated()">
		<h3>Create your own account to access your profile or login !</h3>
		<p ng-click="showLoginForm()">Login</p>
		<p ng-click="showSigninForm()">Signin</p>
	</div>
</div>