<div ng-if="auth.isAuthenticated()">    
    <div ng-if="isMemberOf">
        <h3>{{group.name}}</h3>
        <p>{{group.description}}</p>
        <h4>Dashboard</h4>
        <div ng-repeat="comment in group.dashboard">
            {{comment}}
        </div>
        <h4>Members</h4>
        <div ng-repeat="member in group.members">
            {{member}}
        </div>
    </div>

    <div ng-if="!isMemberOf">
        <h3>{{group.name}}</h3>
        <p>{{group.description}}</p>
        <button class="btn" style="margin-top: 10px;" ng-click="joinGroup(group._id)">Join</button>
    </div>
</div>

<div id="profileNC" ng-if="!auth.isAuthenticated()">
    <h3>Create your own account to access your profile or login !</h3>
    <p ng-click="showLoginForm()">Login</p>
    <p ng-click="showSigninForm()">Signin</p>
</div>